/* GENERALE */

body {
    margin: none;
    font-size: 1.5rem;
    background-color: white;
}
/* _________*/

/* HEADER */
.banner {
    padding: 2.5%;
    height: 200px;
    background-color: rgb(129, 126, 164);
    color: white;
    text-align: center;
    border: 1px solid black;
}

.placeholder {
    height: 50px;
}

.insert  {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
}

.insert div:first-child {
    width: 75%;
    
}

.insert div:last-child {
    width: 25%;
   
}

.insert input, button {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1rem;
    
    
}

.insert input {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.insert button {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    
}


/* TASKS */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    height: 30px;
    padding: 1%;
    padding-left: 2%;
    position: relative;
    border: 1px solid black;
    margin: .1% 0;
    background-color: rgb(200, 187, 187);
    border-radius: 10px;
}

li:nth-child(2n)  {
    background-color: darkgray;
}

li:hover {
    background-color: rgb(64, 62, 62);
    color: white;

}

li input[type=checkbox] {
    background-color: transparent;
    position: absolute;
    width: 10%;
    top: -9%;
    left: 0;
    height: 60px;
    padding: 1%;
    border-radius: 10px;
}

li button {
    background-color: transparent;
    position: absolute;
    width: 10%;
    top: 0;
    right: 0;
    border-radius: 10px;
    border: 1px solid black;
    background-color:white;
    
}

.complete {
    
    position: absolute;
    
    top: 0;
    right: 150px;
    // height: 60px;
    // padding: 1%;
}

li button:hover {
    color:white;
    background-color: red;
}

.complete:hover {
    color:white;
    background-color: green;
}

/* __________ */



